services:
  edge-france:
    image: cdf-party-management:1.0.3
    platform: linux/amd64
    container_name: edge-france
    ports:
      - "25555:5555"
    env_file:
      - ./edge-france/.env_party_ert
    environment:
      SAG_IS_CONFIG_PROPERTIES: "/opt/softwareag/IntegrationServer/application.properties"
      SAG_IS_CLOUD_ALLOW_SYNC: false
      WM_HTTPS_PROXY_ALIAS: default  
      WM_HTTPS_PROXY_HOST: squid 
      WM_HTTPS_PROXY_PORT: 3128
      WM_HTTPS_PROXY_IS_DEFAULT: "Y"      
      JAVA_CUSTOM_OPTS: >-
        -Dhttps.proxyHost=squid
        -Dhttps.proxyPort=3128
        -Dhttp.proxyHost=squid
        -Dhttp.proxyPort=3128
        -Dhttp.nonProxyHosts="localhost|127.0.0.1|edge|sqlserver|10.*|172.*|192.168.*"
        -Dhttps.nonProxyHosts="localhost|127.0.0.1|edge|sqlserver|10.*|172.*|192.168.*"
    volumes:
      - ./edge-france/application.properties:/opt/softwareag/IntegrationServer/application.properties:ro
      - ./kafka/secrets/kafka.truststore.jks:/certs/kafka.truststore.jks:ro
    networks:
      - isolated_net
      - default
    depends_on:
      - squid
      - postgres
      - kafka
    healthcheck:
      interval: 5s
      retries: 24
      test: ["CMD-SHELL", "curl -o /dev/null -s -w '%{http_code}' http://localhost:5555 | grep -qE '^(200|3[0-9]{2})$'"]